export("parLower<-")
export("parUpper<-")
export("parbounds<-")
export("parnames<-")
export(addTermBranchLength)
export(binTimeData)
export(bin_cal3TimePaleoPhy)
export(bin_timePaleoPhy)
export(branchClasses)
export(cal3TimePaleoPhy)
export(cladogeneticTraitCont)
export(compareNodeAges)
export(compareTermBranches)
export(constrainParPaleo)
export(deadTree)
export(degradeTree)
export(depthRainbow)
export(dropExtant)
export(dropExtinct)
export(dropZLB)
export(expandTaxonTree)
export(fixRootTime)
export(freqRat)
export(getSampProbDisc)
export(getSampRateCont)
export(horizonSampRate)
export(make_durationFreqCont)
export(make_durationFreqDisc)
export(multiDiv)
export(optimPaleo)
export(parInit)
export(parLower)
export(parUpper)
export(parbounds)
export(parnames)
export(perCapitaRates)
export(phyloDiv)
export(plotMultiDiv)
export(plotTraitgram)
export(pqr2Ps)
export(pqsRate2sProb)
export(probAnc)
export(qsProb2Comp)
export(qsRate2Comp)
export(reverseList)
export(rootSplit)
export(sProb2sRate)
export(sRate2sProb)
export(sampleRanges)
export(simFossilTaxa)
export(simFossilTaxa_SRCond)
export(simPaleoTrees)
export(simTermTaxa)
export(simTermTaxaAdvanced)
export(taxa2cladogram)
export(taxa2phylo)
export(taxicDivCont)
export(taxicDivDisc)
export(timeLadderTree)
export(timePaleoPhy)
export(timeSliceTree)
export(trueTermTaxaTree)
export(unitLengthTree)
import(ape)
importFrom(phangorn,Ancestors)
importFrom(phangorn,Descendants)
